{% extends "main/baseFarmer.html.twig" %}
{% block body %}



{% for od in orders %}

<h2>order</h2>

  <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">product</th>
      <th scope="col">quantity</th>
      <th scope="col">kilo price </th>
      
      
    </tr>
  </thead>
  <tbody>
    {% for item in od.getItems() %}
    <tr>
      <th scope="row">{{od.getId() }}</th>
      <td>{{ item.getProduct().getProductName()}}</td>
      <td>{{ item.getQuantite() }}</td>
      <td>{{ item.getProduct().getPrice()}}</td>
      
      
    </tr>
     {% endfor %}
     
      </tbody>
</table>
<a class="btn btn-primary" href="{{ path("farmer/markPrepared",{'idOrder':od.getId(),'to':0}) }}">mark as prepared </a>
<br><br><br>
{% endfor %}




{% endblock %}