{% extends "main/baseFarmer.html.twig" %}

{% block title %}Liste{% endblock %}

{% block body %}
 <div class="container">
   
 
 <h1>Liste de tous les produits</h1>
 


  <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOM</th>
      <th scope="col">PRIX</th>
      <th scope="col">CATEGORIE</th>
       <th scope="col">Actions</th>
      
    </tr>
  </thead>
  <tbody>
   {% for p in farm.getProducts() %}
    <tr>
      <th scope="row">{{ p.getId() }}</th>
      <td>{{ p.getProductName() }}</td>
      <td>{{ p.getPrice() }}</td>
      <td>{{ p.getProductDiscription()}}</td>
      <td>{{ p.getQuantity()}}</td>
      <td><a class="btn btn-danger" href="{{ path("farmer/products/delete" ,{'idProd':p.getId()} ) }}">Supprimer </a>
      <a class="btn btn-primary" href="{{ path("farmer/products/modify",{'idProd':p.getId()}) }}">  Detail</a></td>
      
    </tr>
     {% endfor %}

      </tbody>
</table>

</div>


{% endblock %}