{% extends "main/baseAdmin.html.twig" %}

<h2>Info</h2>
greengrocer name ={{greengrocer.getGreengrocerName()}}<br>
greengrocer discription = {{greengrocer.getDiscription()}}<br>
location ={{greengrocer.getLocation()}}<br>
user mail = {{greengrocer.getOwnerId().getEmail()}}<br>
<h2>assets</h2>
<div class="container">

    <div class="row">
        <div class="col">
        {% for pic in greengrocer.getOwnerId().getProves() %}
        <figure class="figure">
            <img src="{{ asset('public/'~pic.getUrl())}}" class="figure-img img-fluid rounded" width="500" height="500" alt="...">
            <figcaption class="figure-caption">prove </figcaption>
          </figure>
    
{% endfor %}
</div>
</div>
      
