{% extends "main/baseAdmin.html.twig" %}
 {% block title %}Liste{% endblock %}
 
 {% block body %}
 
  <div class="container">
    
  
  <h1>greengrocer list</h1>
  
 
 
   <table class="table table-striped ">
   <thead>
     <tr>
       <th scope="col">ID</th>
       <th scope="col">NOM</th>
       <th scope="col">LOCATION</th>
       <th scope="col">OWNER</th>
        <th scope="col">Accept </th>
        <th scope="col">Deny</th>
        
       
     </tr>
   </thead>
   <tbody>
    {% for f in greengrocer %}
     <tr>
       <th scope="row">{{f.getId() }}</th>
       <td>{{ f.getGreengrocerName() }}</td>
       <td>{{ f.getLocation() }}</td>
       <td>{{ f.getOwnerId().getUserName()}}</td>
       <td><a class="btn btn-info " href="{{path('app_admin/greengrocer/request/proves',{'id':f.getId()})}}">detail</a></td>
    <td><a class="btn btn-success "href="{{path('app_admin/greengrocer/request/accept',{'id':f.getId()})}}">Accept </a></td>
    <td><a class="btn btn-danger" href="{{path('app_admin/greengrocer/request/deny',{'id':f.getId()})}}"> Deny </a></td>
      
     </tr>
      {% endfor %}
 
       </tbody>
 </table>
 
 </div>
 
 
 {% endblock %}