{% extends "main/baseAdmin.html.twig" %}


{% block body %}
 <div class="container">
   
 
 <h1>Liste de tous les produits</h1>
 


  <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOM</th>
      <th scope="col">PRIX</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">quantity</th>
      <th scope="col">stock</th>
      
      
    </tr>
  </thead>
  <tbody>
   {% for p in products %}
    <tr>
      <th scope="row">{{ p.getId() }}</th>
      <td>{{ p.getProductName() }}</td>
      <td>{{ p.getPrice() }}</td>
      <td>{{ p.getProductDiscription()}}</td>
      <td>{{ p.getQuantity()}}</td>
      {% if p.getQuantity >0 %}
      <td><p class="text-success"> on stock</p></a></td>
      {% else %}
      <td><p class="text-success"> out of stock</p></td>
      {% endif %}
      
    </tr>
     {% endfor %}

      </tbody>
</table>

</div>


{% endblock %}