{% extends "main/baseDelevery.html.twig" %}
{% block body %}



{% for f in farms %}

<h2>farm name : {{ f.farm.getFarmName() }}</h2>

  <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">form</th>
      <th scope="col">to</th>
      <th scope="col">location farm</th>
      <th scope="col">location greengrocer</th>
      <th scope="col">weight</th>
      <th scope="col">status</th>
      <th scope="col">action</th>
      
      
      
      
    </tr>
  </thead>
  <tbody>
  
    {% for od in f.orders %}
    <tr>
     
      <th scope="row">{{od.order.getId() }}</th>
      <td>{{ od.order.getFarm().getFarmName() }}</td>
      <td>{{ od.order.getGreengrocer().getGreengrocerName() }}</td>
      <td>{{ od.order.getFarm().getLoacation() }}</td>
      <td>{{ od.order.getGreengrocer().getLocation()  }}</td>
      <td>{{ od.weight}} kg</td>
      {% if od.order.isIsPrepared %}  
      <td><p class="text-success">Prepared</p></td>
      <td><a class="btn btn-primary" href="{{path("delevery/order/markDelivred",{'idOrder':od.order.getId() })}}"> mark delivred  </a></td>
        {% else %}
        <td><p class="text-danger">Not prepared</p></td>
        <td><a class="btn btn-danger" href=""> prepare quickly  </a></td>
        
      {% endif %}
    
    </tr>
     
     {% endfor %}
      </tbody>
</table>
<br><br><br>
{% endfor %}




{% endblock %}