{% extends "base.html.twig" %}
 
{% block body %}



{% for od in orders %}

<h2>{{ od.getFarm().getFarmName() }}</h2>

  <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">product</th>
      <th scope="col">quantity</th>
      <th scope="col">kilo price </th>
      <th scope="col">total price</th>
       <th scope="col">status</th>
      
    </tr>
  </thead>
  <tbody>
    {% for item in od.getItems() %}
    <tr>
      <th scope="row">{{od.getId() }}</th>
      <td>{{ item.getProduct().getProductName()}}</td>
      <td>{{ item.getQuantite() }}</td>
      <td>{{ item.getProduct().getPrice()}}</td>
      <td>{{ item.getPrice()}}</td>
      <td><p class="text-danger">not delivred</p></td>
      
    </tr>
     {% endfor %}

      </tbody>
</table>
<br><br><br>
{% endfor %}




{% endblock %}